[Unit]
Description=sshmuxd
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/lib/go/bin/sshmuxd
Restart=on-abort

[Install]
WantedBy=multi-user.target
